@model IEnumerable<OPUSProject.Models.Year>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center border">J H Car Center</h1>

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="CarDetails" asp-action="Create">Create Quatation</a>
}
